@charset "UTF-8";

#top{
    padding-top: 50px;
}

.carrosel {
    margin-top: 50px;
    width: 50vw;
    max-width: 100vw;
    background-color: rgb(255, 255, 255);
    
}
.carousel-inner {
    border-radius: 20px;
}
.card img{
    padding-top: 10px;
    max-width: 100px;
    width: 100px;
    border-radius: 50%;
}
.card-group img{
    margin-top: 10px;
    height: 300px;
    width: 200px;
    

}
.card-group{
    display: inline-block;
}
.eventos-card img {
    border-radius: 0px;
}
